.agenda-evento {
    position: fixed; /* Fixa a camada de fundo */
    top: 70;
    left: 0;
    width: 100%;
    height: 100%; /* Preenche toda a tela */
    background-color: rgba(0, 0, 0, 0.5); /* Opacidade no fundo */
    z-index: 1; /* Garante que a camada de fundo fique atrás dos outros elementos */
}

.agenda-evento .conteudo {
    position: relative; /* Garante que o conteúdo fique acima da camada de opacidade */
    z-index: 1000; /* Coloca o conteúdo acima da camada de opacidade */
    color: white; /* Cor do conteúdo */
    padding: 50px;
    display: flex; 
    justify-content: center;
    align-items: center;
    top: 89px;
    text-align: center;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 20px; /* Para evitar bordas muito próximas em telas pequenas */
}

.login-box {
    align-items: center;
    background-image: radial-gradient(circle, #5214Cb, #3c1292);
    margin: 20px; /* Reduzido para melhor ajuste em telas menores */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%; /* Usa uma porcentagem para largura responsiva */
    max-width: 500px; /* Define um limite máximo para largura */
    height: auto; /* Permite altura dinâmica conforme o conteúdo */
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 23px;
    color: white; /* Cor de preenchimento da letra */
}


/* Responsividade para telas maiores */
@media (max-width: 768px) {
    .login-box {
        width: 80%; /* Ajusta a largura para telas maiores */
        max-width: 600px; /* Aumenta o limite máximo */
    }

    .close-btn-edit {
        right: 30px;
    }
}

@media (max-width: 600px) {
    .login-box {
        width: 90%; /* Ajusta a largura para telas maiores */
        max-width: 700px; /* Aumenta o limite máximo */
    }
}

/* Responsividade para telas muito grandes */
@media (min-width: 1200px) {
    .login-box {
        width: 100%; /* Reduz a largura para telas maiores */
        max-width: 800px; /* Aumenta o limite máximo para telas grandes */
        height: auto;
    }

   
}

/* Responsividade para telas muito grandes */
@media (min-width: 1024px) {
    .login-box {
        width: 100%; /* Reduz a largura para telas maiores */
        max-width: 800px; /* Aumenta o limite máximo para telas grandes */
        height: auto;
    }

   
}
   
.close-btn-edit {
    position: relative; /* Posiciona o botão de fechar */
    top: -99px; /* Distância do topo */
    right: -410px; /* Distância da direita */
    font-size: 35px; /* Tamanho da fonte */
    color: rgb(243, 243, 243); /* Cor do botão */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    z-index: 1000;
    text-decoration: none; 
    transition: background-color 0.3s;
}

/* Estilo de inputs e selects para consistência */
.input-group-prod {
    display: inline-flex; /* Flex para alinhamento horizontal */
    flex-direction: column; /* Empilha label e input/select verticalmente */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 10px;
    width: 48%; /* Garante que dois grupos cabem lado a lado */
    
    
}

/* Estilização dos labels */
.input-group-prod label {
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: 5px; /* Espaço entre o label e o input */
    width: 48%; /* Garante que o label ocupa toda a largura do input */
}

/* Estilos gerais de inputs e selects */
.input-group-prod input {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 50px;
    color: rgb(0, 0, 0); /* Cor do texto */
    width: 80%; /* Ocupa toda a largura do contêiner */
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.login-btn-edit {
    position: relative; 
    right: -200px; 
    width: 20%;
    top: 20px;
    padding: 10px; 
    background-color: #0db400;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 4px solid black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 0px , #0db400  /* Sombra superior para profundidade */
                0px 7px 15px rgba(0, 0, 0, 0.2);  /* Sombra geral para efeito 3D */
    transition: all 0.3s ease-in-out;  /* Suaviza a animação */
}
.login-btn-edit:active{

    box-shadow: 0px 2px 0px ,  #0db400 /* Sombra ao pressionar, simulando o botão "afundar" */
                0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);        /* Move o botão para baixo */
}

.login-btn-edit:hover {
    background-color: #34e028;
}

.Cancel-btn-edit {
    position: relative; 
    right: -220px; 
    width: 20%;
    top: 20px;
    padding: 10px; 
    background-color: rgba(206, 35, 35, 0.89);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 4px solid black;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 0px , #cf1111  /* Sombra superior para profundidade */
                0px 7px 15px rgba(0, 0, 0, 0.2);  /* Sombra geral para efeito 3D */
    transition: all 0.3s ease-in-out;  /* Suaviza a animação */


}
.Cancel-btn-edit:active{

    box-shadow: 0px 2px 0px ,  #bd1010 /* Sombra ao pressionar, simulando o botão "afundar" */
                0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(3px);        /* Move o botão para baixo */
}

.Cancel-btn-edit:hover {
    background-color: #d43131;
}

.modal-validacao {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-validacao {
    background-color: #5214cb;
    margin: 20% auto;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-validacao {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-erro {
    display: none; /* Oculto por padrão */
    position: fixed;
    z-index: 10000;
    inset: 0; /* shorthand para top, right, bottom, left = 0 */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    justify-content: center;
    align-items: center;
  }
  
  .modal-content-erro {
    background-color: #5214cb;
    margin: 20% auto;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
  }
  
  .close-erro {
    float: right;
    font-size: 28px;
    cursor: pointer;
    color: #ffff;
    top: -10px;
  }


/* Estilo do botão de abrir a sidebar */
.open-btn {
    padding: 12px 24px;
    background-color: #5214cb;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}


/* Estilo da sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #5214cb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    z-index: 1000;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}

/* Conteúdo dentro da sidebar */
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #ddd;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #5214cb;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Botão de fechar (X) */
.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    color: #ffff;
    cursor: pointer;
}
